.footer {
	margin-top: 50px;
	padding: 20px 0 70px;
	background: #000;
	color: #fff;
    width: $screen-lg-desktop;
    @include min-responsive($screen-lg-desktop) {
        width: 100%;
    }
	&__top {
		padding: 10px 0 30px;
	}
	&__bottom {
		padding: 30px 0 10px;
		color: #b1b1b1;
		>.pure-g{
			align-self: center;
		}
	}
	&__menu {
		position: relative;
		&__item {
			position: relative;
			display: block;
			padding: 3px 0;
			&--inline {
				padding: 0;
				display: inline-block;
				&:after {
					content: ' -';
				}
				&:last-child {
					&:after {
						content: '';
					}
				}
			}
		}
		&__link {
			&:hover {
				color: $color-kcm-blue;
			}
		}
	}
	&__copy {
		padding: 5px 0;
		color: white;
		font-family: $font_title;
	}
	&__social{
		.social{
			justify-content: flex-end;
		}
	}
}
