.kcm {
	&__header {
		margin-top: 20px;
		&__advertorial {
			padding: 10px 20px;
			background: #f0f0f0;
			// text-align: center;
			letter-spacing: 10px;
			text-transform: uppercase;
			position: relative;
			border-left: 5px solid $color-kcm-blue;
			@include font-pack(false, 20px, false, false, false);
			// &:after {
			// 	content: '';
			// 	position: absolute;
			// 	left: 42.5%;
			// 	bottom: 0;
			// 	width: 15%;
			// 	border-bottom: 5px solid $color-kcm-blue;
			// }
		}
		&__brandzview {
			padding: 20px;
			background: #f0f0f0;
			position: relative;
			border-left: 5px solid $color-kcm-blue;
			&__title {
				@include font-pack(false, 16px, 600, false, $color-brandzview);
			}
			&__desc {
				@include font-pack(false, false, false, false, false);
				margin: 10px 0 15px;
			}
			&__img {
				max-width: 160px;
			}
		}
	}
}
.banner--sticky {
	height: 250px;
	.kcm__rectangle {
		position: fixed;
		top: 143px;
		z-index: 10;
		-webkit-animation: bannerfade 0.7s 3s forwards;
		-moz-animation: bannerfade 0.7s 3s forwards;
		-ms-animation: bannerfade 0.7s 3s forwards;
		-o-animation: bannerfade 0.7s 3s forwards;
		animation: bannerfade 0.7s 3s forwards;
	}
}
@-webkit-keyframes bannerfade {
	0% {
		visibility: visible;
		opacity: 1;
	}
	100% {
		visibility: hidden;
		opacity: 0;
	}
}

@keyframes bannerfade {
	0% {
		visibility: visible;
		opacity: 1;
	}
	100% {
		visibility: hidden;
		opacity: 0;
	}
}
