.breadcrumb {
	position: relative;
	&__wrap {
		position: relative;
	}
	&__item {
		display: inline-block;
		@include font-pack(false, 16px, 500, false, $color-kcm-orange);
		&:after {
			content: ' / ';
		}
		&:last-child {
			&:after {
				content: '';
			}
		}
	}
	&__link {
		position: relative;
		display: inline-block;
		&:hover {
			color: #000;
		}
	}
}