.breaking {
	position: relative;
	padding-top: 5px;
	border-top: 1px solid #000;
	&:after {
		content: '';
		position: absolute;
		left: 45%;
		top: -5px;
		width: 15%;
		border-top: 5px solid #000;
	}
	&__wrap {
		position: relative;
		background: $color-kcm-orange-light;
		padding: 15px 10px 30px 230px;
		// height: 100px;
		overflow: hidden;
		width: 100%;
	}
	&__type {
		display: inline-block;
		padding: 10px 10px 10px 30px;
		background: #fff;
		position: absolute;
		left: 0;
		top: 15px;
		text-transform: uppercase;
		z-index: 1;
		@include font-pack(false, 20px, 500, 1, #000);
		&:after {
			content: '';
			position: absolute;
			left: 7px;
			top: 12px;
			width: 15px;
			height: 15px;
			background: $color-kcm-orange-light;
			border-radius: 10px;
			@include animation(blink .7s infinite);
		}
	}
	&__title {
		@include font-pack(false, 30px, 300, false, #fff);
		display: block;
	}
	&__link {
		display: block;
		&:hover {
			color: #fff;
		}
	}
}