.consult {
	&__label {
		padding-top: 10px;
		display: block;
		@include font-pack(false, 18px, 300, false, #000);
	}
	&__form {
		padding: 0 0 20px;
		label.error {
			@include font-pack(false, 13px, 300, false, #f00);
			display: block;
			clear: both;
			padding: 5px 0 0;
		}
	}
	&__sub__label {
		padding: 10px 0;
		margin: 0 -20px;
		display: block;
		@include font-pack(false, 14px, 300, false, false);
	}
	&__textarea,
	&__input {
		border: 1px solid $color_kcm_blue;
	}
	&__radio {
		margin-right: 10px;
	}
	&__send {
		padding: 20px 0 0;
	}
	&__button {
		width: 98%;
		margin-right: 2%;
		background: $color_kcm_blue;
		&:hover {
			background: darken($color_kcm_blue, 10%);
		}
	}
	&__result {
		&__title {
			margin: 10px 0 20px;
			@include font-pack(false, 21px, 700, false, #2a2a2a);
		}
	}
	// konsultasi
	&__konsultasi {
		&__form {
			padding: 20px 0;
			background: #f0f0f0;
		}
	}
	&__ahli {
		padding: 0;
		margin: 5px 0 20px;
		background: #f0f0f0;
		border-left: 3px solid $color_kcm_blue;
		&--page {
			border-left: none;
		}
		&__img {
			&--page {
				padding: 15px 0 15px 15px;
			}
		}
		&__name {
			padding: 10px 0;
			@include font-pack(false, 21px, 300, false, #2a2a2a);
			span {
				display: block;
				padding: 0 0 5px;
				@include font-pack(false, 14px, 700, false, false);
			}
		}
		&__desc {
			padding: 0 40px 20px 0;
			@include font-pack(false, 14px, 300, false, false);
		}
	}
}