.hoax {
    &__widget {
        color: white;
        padding: 50px;
        margin-bottom: 20px;
        &__title {
            font-family: $font_body;
            font-weight: 900;
            font-size: 22px;
            letter-spacing: 2px;
        }
        &__text {
            line-height: 1.4;
        }
        &__button {
            border-radius: 5px;
            padding: 10px;
            display: inline-block;
            transition: .2s background ease-in-out;
            &--small{
                padding: 3px 8px;
                border-radius: 3px;
            }
            &__icon {
                margin: 0 10px;
            }
            &__text {
                margin: 0 10px;
                font-family: $font_body;
                font-weight: 900;
                text-transform: uppercase;
                letter-spacing: 2px;
                vertical-align: bottom;
                &--head{
                    font-size: 16px;
                }
                &--thin{
                    font-weight: 400;
                }
            }
            &--lapor {
                background: $color_lapor;
                margin-right: 10px;
                &:hover {
                    background: #494949;
                    color: white;
                }
            }
            &--orange{
                margin-top: 140px;
                margin-left: 10px;
                background: #ff8a00;
                border-radius: 15px;
                &:hover{
                    background: #ffa33b;
                }
            }
            &--other{
                font-size: 15px;
                letter-spacing: 1px;
                padding: 0 5px;
                font-weight: 500;
            }
            &--cek {
                background: $color_cek;
                padding: 12px;
                &:hover {
                    background: #494949;
                    color: white;
                }
            }
            &--klarifikasi{
                background: #20b766;
                color: #fff;
                // &:hover {
                //     background: lighten(#20b766, 10%);
                //     color: white;
                // }
            }
            &--hoax{
                background: #cc0000;
                color: #fff;
                // &:hover {
                //     background: lighten(#cc0000, 5%);
                //     color: white;
                // }
            }
            &--sesat{
                background: #000;
                color: #fff;
                // &:hover {
                //     background: #494949;
                //     color: white;
                // }
            }
            &--fact{
                background: #0099ff;
                color: #fff;
                // &:hover {
                //     background: #494949;
                //     color: white;
                // }
            }
        }
        &--artikel {
            padding: 35px;
        }
    }
    &__artikel {
        padding: 20px 0;
        border-top: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        align-items: center;
        &__title {
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
            &--fakta {
                color: $color_fakta;
            }
            &--hoaks {
                color: $color_hoax;
            }
            &--sesat {
                color: $color_sesat;
            }
            &--klarifikasi {
                color: $color_klarifikasi;
            }
        }
        &__text {
            margin: 0;
        }
    }
    &__form {
        &__title {
            background: $color_lapor;
            padding: 10px;
            display: inline-block;
            color: white;
            &__text {
                font-size: 22px;
                font-weight: 900;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
        }
        &__desc {
            margin: 40px 0px;
        }
    }
    &__email {
        text-decoration: underline;
    }

    // edit on Feb 12 2019
    &--pad0{
        padding: 0;
    }
    &__link{
        &:hover{
            color: #606060;
            @include transition(all 0.1s ease)
        }
        &__head{
            &:hover{
                color: #fff;
                text-shadow: 0 0 10px black;
            }
        }
    }
    &__header{
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #dcdcdc;
        color: #fff;
        .orange{
            color: #ff8a00;
        }
        .text{
            &__big{
                font-family: $font_body2;
                font-size: 70px;
                font-weight: 900;
                text-align: center;
                padding: 20px 20px 0 0;
            }
            &__small{
                font-size: 14px;
                padding: 25px 0 10px 0;
            }
            &__top{
                position: absolute;
                width: 100%;
                text-align: center;
                // padding-right: 25px;
                letter-spacing: 0.5px;
            }
        }
    }
    &__logo {
        display: table;
        float: right;
        position: relative;
        top: 130px;
        padding: 0 50px;
        &Img{
            max-height: 60px;
            vertical-align: middle;
            margin: 0 10px;
            &.kcm{
                height: 40px;
            }
        }
    }
    &__headline{
        width: 100%;
        height: 350px;
        position: relative;
        background: #000;
        &Big{
            width: 100%;
            height: 350px;
            position: relative;
            overflow: hidden;
        }
        &Small{
            width: 100%;
            height: calc(350px / 2);
            position: relative;
            overflow: hidden;
        }
        &Desc{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            background: rgba(0, 0, 0, 0.7);
            color: #fff;
            .text{
                font-weight: 600;
                line-height: 1.2;
                margin: 10px 20px;
                &Big{
                    font-size: 30px;
                    padding: 0 50px;
                }
                &Small{
                    font-size: 17px;
                    padding: 0;
                }
            }
        }
    }
    &__img{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        &--small{
            width: unset;
            height: 100%;
        }
    }
    &__list{
        border: 1px solid #dcdcdc;
        margin-bottom: 30px;
        &Img{
            position: relative;
            width: 100%;
            height: 130px;
            overflow: hidden;
            // background: #000;
        }
        &__button{
            position: relative;
            bottom: 11px;
        }
        &Title{
            font-weight: 600;
            font-size: 16px;
            margin: 10px;
            height: 80px;
            overflow: hidden;
        }
        &__etc{
            display: table;
            padding: 5px 10px;
            border-top: 1px solid #dcdcdc;
            width: 100%;
            margin-top: 10px;
        }
        &__time{
            display: table-cell;
            vertical-align: middle;
            color: #b7b7b7;
            font-size: 12px
        }
        &--social{
            display: table-cell;
            float: right;
            .social__link{
                width: 25px;
                height: 25px;
                padding: 5px;
                font-size: 16px;
            }
            .social__link--facebook{
                background: #b7b7b7;
                &:hover{
                    background: $color_facebook;
                }
            }
            .social__link--twitter{
                background: #b7b7b7;
                &:hover{
                    background: $color_twitter;
                }
            }
            .social__link--google-plus{
                background: #b7b7b7;
                &:hover{
                    background: $color_google_plus;
                }
            }
        }
    }
    &__paging{
        &Item{
            display: inline-block;
            font-size: 20px;
            font-weight: 600;
            position: relative;
            margin: 8px;
            border-radius: 20px;
            @include transition(all 0.25s ease);
            &__link{
                padding: 4px 11px;
                display: block;
                // overflow: hidden;
                &:hover{
                    color: unset;
                }
            }
            &:nth-of-type(1){
                &:before {
                    content: '';
                }
            }
            &:before {
                content: '/';
                position: absolute;
                left: -13px;
                color: #000;
                font-size: 25px;
            }
            &--active{
                background: #cc0000;
                color: #fff;
            }
            &:hover{
                background: #b7b7b7;
                .hoax__pagingItem__link{
                    color: #fff;
                }
            }
        }
    }
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    &-title {
        font-size: 22px;
        font-weight: 900;
        margin: 40px 0px;
    }
    &-button {
        color: white;
        background: #3CA5DD;
        display: inline-block;
        padding: 10px;
        text-transform: uppercase;
        &:hover{
            background: #228cc4;
            color: white;
        }

    }
    // &-content {
    //     //        padding: 25px;
    // }
}

.mfp-zoom-in {
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.8); 
  }
  
  &.mfp-bg {
    opacity: 0;
	  transition: all 0.3s ease-out;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: scale(0.8); 
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}