.network {
	position: relative;
	background: #F1F1F1;
	&--kkk {
		background: #dedede;
	}
	&--hot {
		position: relative;
		&:after {
			content: attr(data-badge);
			position: absolute;
			top: 2px;
			right: -15px;
			// width: 7px;
			// height: 7px;
			background: #f00;
			border-radius: 20px;
			padding: 0px 3px;
			z-index: 1;
			@include font-pack($font_body2, 9px, 300, false, #fff);
		}
	}
	&__row {
		display: inline-block;
		&--left {
			float: left;
		}
		&--right {
			float: right;
		}
	}
	&__item {
		display: inline-block;
	}
	&__link {
		text-transform: uppercase;
		padding: 7px 4px;
		display: inline-block;
		@include font-pack(false, 12px);
		&:hover {
			color: #000;
		}
	}
}