.kid {
	&__wrap {
		position: relative;
		float: right;
		padding: 5px 0 5px 5px;
	}
	&__button {
		display: inline-block;
		padding: 9px 15px;
		background: #1583CC;
		text-transform: uppercase;
		border-radius: 5px;
		@include font-pack(false, 11px, 700, 1, #fff);
		@include transition(all .2s ease);
		&:hover {
			color: #fff;
			background: #2196F3;
		}
	}
}