.lensa {
	&__hl {
		position: relative;
		.slick-slider {
			margin-bottom: 0;
		}
		&__img {
			img {
				width: 100%;
			}
		}
		&__row {
			position: relative;
			overflow: hidden;
			.icon-photo-slider {
				position: absolute;
				color: #000;
				background: #fff;
				border-radius: 5px;
				z-index: 1;
				font-size: 28px;
				line-height: 1;
				width: 30px;
				height: 30px;
				text-align: center;
				bottom: 10px;
			}
			.icon-photo-left {
				right: 60px;
			}
			.icon-photo-right {
				right: 20px;
			}
		}
		&__suptitle {
			@include font-pack(false, 16px, 700, false, #fff);
			text-transform: uppercase;
		}
		&__title {
			@include font-pack(false, 36px, 300, false, #fff);
			margin: 20px 0;
		}
		&__teaser {
			@include font-pack(false, 16px, 300, false, #fff);
			margin: 0 0 20px;
		}
		&__link {
			display: block;
			// &:hover {
			// 	color: lighten($color_kcm_orange_light, 10%);
			// }
		}
	}
	&__channel {
		&__wrap {
			overflow: hidden;
		}
		&__row {
			margin: 0 -400px;
			.icon-photo-slider {
				position: absolute;
				color: #fff;
				// background: #fff;
				// border-radius: 5px;
				z-index: 1;
				font-size: 100px;
				line-height: 1;
				width: 60px;
				height: 100px;
				text-align: center;
				top: 25%;
			}
			.icon-photo-left {
				left: 500px;
			}
			.icon-photo-right {
				right: 500px;
			}
			&.slick-slider {
				margin-bottom: 0;
			}
			.video__button__play__item {
				top: 40%;
			}
		}
		&__item {
			padding: 0 15px;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 1;
				left: 0;
				top: 0;
				opacity: 1;
				background: rgba(0,0,0,.7);
				@include transition(all .2s ease);
			}
			&.slick-current {
				position: relative;
				&:after {
					opacity: 0;
					z-index: -1;
				}
			}
		}
		&__link {
			display: block;
		}
	}
	&__type {
		@include font-pack(false, 14px, false, false, #9b9b9b);
		.icon {
			margin-right: 10px;
			vertical-align: top;
			font-size: 18px;
		}
	}
	&__boxtype {
		padding: 5px 10px;
		background: #fff;
		position: absolute;
		left: 0;
		top: 15px;
		z-index: 1;
		.lensa__type {
			color: #000;
		}
	}
	&__most {
		padding: 0 0 20px;
	}
	&__photo {
		position: relative;
		padding: 15px 0;
		&__asset {
			position: relative;
			cursor: pointer;
			&:hover {
				.photo__icon {
					background: $color-kcm-blue;
					color: #fff;
				}
			}
			img {
				width: 100%;
			}
		}
		&__desc {
			position: absolute;
			// width: 100%;
			height: auto;
			bottom: 15px;
			right: 0;
		}
		&__author {
			padding: 10px 0;
			@include font-pack(false, 14px, 500, false, #dcdcdc);
		}
		&__caption {
			padding: 10px 0 5px;
			@include font-pack(false, 14px, false, false, #dcdcdc);
		}
	}
	&__playlist {
		position: relative;
		&__player {
			width: 770px;
			height: 465px;
			float: left;
		}
		&__list {
			width: 300px;
			float: left;
			background: #2d2d2d;
			height: 465px;
			position: relative;
			overflow-y: scroll;
		}
		&__item {
			padding: 0;
		}
		&__img {
			width: 100px;
			float: left;
			margin-right: 10px;
		}
		&__title {
			@include title_overflow(57px, 57px);
			@include font-pack(false, 14px, 300, false, #fff);
		}
		&__link {
			padding: 5px 10px;
			display: block;
			border-left: 3px solid transparent;
			&:hover,
			&--active {
				background: #232323;
				border-left: 3px solid #545454;
			}
		}
	}
	// channel news dll
	// &__grid {
	// 	&--video {
	// 		background: #f1f1f1;
	// 		margin: 0!important;
	// 		padding: 15px 0;
	// 		.article__box {
	// 			background: transparent;
	// 		} 
	// 	}
	// }
}
.theme {
	&--lensa {

		// global
		background: #000;
		// a:hover {
		// 	color: $color_kcm_orange_light;
		// }

		// article
		.article {
			&__grid {
				&--fixed {
					&--lensa {
						display: block;
						& > div {
							height: 315px;
							// &:first-child {
							// 	height: 460px;
							// }
						}
						// .article__item {
						// 	height: 100%;
						// 	// border-bottom: 1px solid #dfdfdf;
						// }
						.article__lead {
							@include title_overflow(135px, 135px);
						}
						.article__title {
							@include title_overflow(75px, 75px);
						}
						.col-bs9-6 {
							height: 460px;
							.article__title {
								@include title_overflow(50px, 50px);
							}
						}
					}
				}
			}
			&__box {
				background: #1F1E1E;
			}
			&__title {
				color: #fff;
				// @include title_overflow(75px, 75px);
			}
			&__lead {
				color: #fff;
			}
			&__date {
				color: #9b9b9b;
			}
			&__subtitle {
				color: #4A4A4A; 
			}
			&__media {
				span {
					font-size: 14px;
					padding: 0;
					color: $color_kcm_orange_light;
					border: none;
					// border: 1px solid $color_kcm_orange_light;
				}
			}
			&__list {
				background: transparent;
				&:after {
					border-bottom: 1px solid #1f1e1e;
				}
				&__asset {
					background: #000;
				}
				&--video {
					.article__list__asset {
						width: 505px;
					}
				}
			}
		}

		.tag {
			&__header__link,
			&__header__teaser {
				color: #fff;
			} 
		}

		.breadcrumb {
			&__item {
				color: #fff;
			}
			&__link {
				color: #fff;
				&:hover {
					color: $color_kcm_blue;
				}
			}
		}

		.read {
			&__title {
				@include font-pack(false, false, false, false, #fff);
			}
			&__content {
				color: #fff;
			}
			&__credit {
				border-top: 1px solid #999;
			}
		}

		.paging {
			&__link {
				color: #fff;
			}
		}

		.gallery__photo__caption {
			color: #fff;
		}
		.gallery__photo__author {
			color: #fff;
		}
		// .gallery__item {
		// 	border-bottom: 1px solid #444;
		// }

		.button {
			&--default {
				// border: 1px solid #fff;
				color: #fff;
				&:hover {
					background: #fff;
					color: #000;
				}
			}
		}
	}
}

.js-lensa-divider {
	position: relative;
	padding: 0 0 100px;
}
.js-read-lensa {
	height: 100px;
	overflow: hidden;
	position: relative;
	// padding: 0 0 100px;
	&:after {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 70px;
		// background: #fff;
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
	}
}