.live {
	&__subtitle {
		position: absolute;
		top: 0;
		right: 0;
		padding: 5px 5px 5px 20px;
		background: $color-kcm-orange;
		text-transform: uppercase;
		z-index: 1;
		@include font-pack(false, 12px, 700, false, #fff);
		&:after {
			content: '';
			position: absolute;
			left: 5px;
			top: 6px;
			width: 12px;
			height: 12px;
			background: #fff;
			border-radius: 10px;
			@include animation(blink .5s infinite);
		}
		&--list {
			right: 20px;
		}
		&--hl {
			right: 0;
			padding: 8px 8px 8px 28px;
			@include font-pack(false, 14px, false, false, false);
			&:after {
				width: 15px;
				height: 15px;
				left: 7px;
				top: 8px;
			}
		}
	}
	&__icon {
		display: inline-block;
	}
}