.opinion {
	// page
	&__top  {
		padding: 0 0 20px;
		&__wrap {
			.article__title {
				font-size: 26px;
			}
		}
	}
	&__headline {
		position: relative;
		padding: 0 0 0 55px;
		min-height: 65px;
	}
	&__header {
		padding: 15px 0 20px 130px;
		position: relative;
		margin: 30px 0;
		min-height: 150px;
		border-bottom: 1px solid #9B9B9B;
		// border-top: 1px solid #9B9B9B;
		&:after {
			content: '';
			position: absolute;
			left: 42.5%;
			bottom: 0;
			width: 15%;
			border-bottom: 5px solid $color-kcm-blue;
		}
		.opinion__author {
			@include font-pack(false, 21px, false, false, false);
		}
		.opinion__authortitle {
			@include font-pack(false, 14px, 300, false, false);
			margin-top: 5px;
			margin-bottom: 10px;
		}
		.opinion__profile {
			@include font-pack(false, 16px, 400, false, false);
		}
	}
	&__all,
	&__choice {
		text-align: center;
		padding: 0 0 30px;
		.opinion__author {
			@include font-pack(false, 18px, false, false, false);
		}
		.opinion__authortitle {
			@include font-pack(false, 14px, 300, false, false);
			margin-top: 5px;
			margin-bottom: 10px;
		}
	}
	&__all {
		.opinion__thumb {
			margin: 0 0 60px;
		}
		.opinion__asset--medium {
			width: 200px;
			height: 200px;
			border-radius: 200px;
		}
	}
	&__thumb {
		.opinion__author {
			@include font-pack(false, 18px, false, false, false);
		}
		.opinion__authortitle {
			@include font-pack(false, 14px, 300, false, false);
			margin-top: 5px;
			margin-bottom: 10px;
		}
	}
	&__profile {
		position: relative;
		&__asset {
			position: relative;
		}
		&__wrap {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
			color: #fff;
			height: 100%;
			background: rgba(0,0,0,.5);
			padding: 0 30px;
			overflow: hidden;
		}
		&__author {
			@include font-pack(false, 45px, 300, false, #fff);
			padding: 20px 0;
		}
		&__desc {
			padding: 20px 0;
			border-top: 1px solid #bdbdbd;
			border-bottom: 1px solid #bdbdbd;
		}
		&__profile {
			@include font-pack(false, 16px, 300, 1.4, false);
			padding: 20px 0;
		}
		&__stat {
			padding: 2px 0;
			.icon {
				font-size: 12px;
				vertical-align: middle;
				margin-right: 5px;
			}
		}
	}
	&__list__inline {
		display: block;
		height: 19px;
		overflow: hidden;
		.opinion__authortitle,
		.opinion__author {
			display: inline;
		}
	}
	&--auhtor {
		.opinion__list {
			height: 130px;
		}
	}
	&__header.skeleton {
		.opinion__asset {
			background: #f0f0f0;
			overflow: hidden;
		}
		.opinion__asset:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			animation: progress 2s ease-in-out infinite;
			@include linier_gradient_3(#f0f0f0, lighten(#000, 88%), 95deg);
		}
		.opinion__author {
			position: relative;
			overflow: hidden;
			width: 200px;
			height: 25px;
			margin: 0 0 5px;
			background: #f0f0f0;
		}
		.opinion__author:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			animation: progress 2s ease-in-out infinite;
			@include linier_gradient_3(#f0f0f0, lighten(#000, 88%), 95deg);
		}
		.opinion__authortitle {
			position: relative;
			overflow: hidden;
			width: 150px;
			height: 15px;
			margin: 0 0 13px;
			background: #f0f0f0;
		}
		.opinion__authortitle:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			animation: progress 2s ease-in-out infinite;
			@include linier_gradient_3(#f0f0f0, lighten(#000, 88%), 95deg);
		}
		.opinion__authorprofile {
			width: 500px;
			height: 12px;
			margin: 0 0 5px;
			//overflow: hidden;
			position: relative;
			background: #f0f0f0;
		}
		.opinion__authorprofile:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 12px;
			background: #f0f0f0;
			top: 17px;
		}
		.opinion__authorprofile:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 12px;
//			animation: progress 2s ease-in-out infinite;
//			@include linier_gradient_3(#f0f0f0, lighten(#000, 88%), 95deg);
		}
	}
}
