.paging {
	position: relative;
	&__wrap {
		position: relative;
	}
	&__teaser {
		padding: 7px 0;
		@include font-pack(false, 17px, 600, false, false);
	}
	&__item {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 5px;
	}
	&__link {
		padding: 8px 12px;
		display: block;
		line-height: 1;
		border-radius: 20px;
		// border-radius: 5px;
		color: #4a4a4a!important;
		background: #fff;
		border: 1px solid #e3e2e3;
		@include font-pack(false, 17px, 500, false, false);
		&--prev,
		&--next {
			color: #666!important;
			@include font-pack(false, 12px, 300, false, false);
		}
		&--show {
			text-align: center;
			padding: 9px 10px;
			margin: 0;
			background: #cbcbcb;
			color: #fff!important;
			@include font-pack(false, 16px, 400, false, false);
		}
		&--active,
		&:hover {
			background: #1583cc;
			border: 1px solid #1583cc;
			color: #fff!important;
		}
	}
	&--article {
		border: 1px solid #e3e2e3;
		border-radius: 8px;
		padding: 10px 10px 6px;
		background: #efedef;
	}
	&__footnote {
		position: relative;
		padding: 10px 20px 25px;
		span {
			display: inline-block;
			padding: 0 0 5px;
			@include font-pack(false, 16px, 700, false, #000);
		}
		.next {
			display: block;
			@include font-pack(false, 20px, 700, false, #1583cc);
			font-style: italic;
			&:hover {
				color: #000;
			}
		}
	}
}
