.channel {
	&__regional {
		position: relative;
		padding: 0 0 15px;
		.article__box {
		  margin: 0;
		  padding: 10px 0; 
		}
		.button {
		  letter-spacing: 0px;
		  padding: 0; 
		}
		.button:hover {
		  background: transparent;
		  color: #000; 
		}
		&.cl-reg1 {
			.button {
			color: #d84414; 
			}
			.title__content:after {
			border-bottom: 5px solid #d84414; 
			}
		}
		&.cl-reg2 {
			.button {
			  color: #fa0504; 
			}
			.title__content:after {
			  border-bottom: 5px solid #fa0504; 
			}
		}
		&.cl-reg3 {
			.button {
				color: #0db24a; 
			}
			.title__content:after {
			  border-bottom: 5px solid #0db24a; 
			}
		}
		&.cl-reg4 {
			.button {
			  color: #26afe5; 
			}
			.title__content:after {
			  border-bottom: 5px solid #26afe5; 
			}
		} 
		&.cl-reg5 {
			.button {
			  color: #bad107; 
			}
			.title__content:after {
			  border-bottom: 5px solid #bad107; 
			}
		} 
	}
	&__regional__theme {
		position: relative;
		&.reg1 {
			.title__content:after {
				border-bottom: 5px solid #d84414; 
			}
			.article__subtitle--inline,
			.article__boxsubtitle {
				color: #d84414;
			}
		}
	}
}
  