.related {
	position: relative;
	&__inline {
		position: relative;
		padding: 15px;
		margin: 0;
		background: #F1F1F1;
		span,
		&__teaser {
			display: block;
			margin-bottom: 5px;
			@include font-pack(false, 15px, 600, false, $color-kcm-orange);
		}
		&__title {
			@include font-pack(false, 18px, 300, false, #2a2a2a);
			border-bottom: 1px solid #d4d4d4;
			padding: 15px 0;
			&:last-child {
				border-bottom: none;
				padding: 15px 0 5px;
			}
		}
		a {
			color: #2a2a2a;
			display: block;
			border-bottom: none;
			&:after {
				border: none;
			}
			&:hover {
				color: #000;
				&:after {
					border: none;
				}
			}
		}
	}
}