.social {
	position: relative;
	&__block {
		// text-align: center;
		padding: 15px;
		background: #f1f1f1;
		margin: 20px 0 0;
		&__teaser {
			padding: 0 0 5px;
			@include font-pack(false, 16px, 300, false, #000);
		}
	}
	&__item {
		display: inline-block;
		padding: 0 2px;
	}
	&__link {
		display: inline-block;
		width: 35px;
		height: 35px;
		border-radius: 35px;
		padding: 8px;
		background: #fff;
		color: #fff;
		font-size: 20px;
		line-height: 1;
		text-align: center;
		&--facebook {
			background: $color-facebook;
			&:hover {
				background: darken($color-facebook, 20%);
			}
		}
		&--twitter {
			background: $color-twitter;
			&:hover {
				background: darken($color-twitter, 20%);
			}
		}
		&--instagram {
			background: $color-instagram;
			&:hover {
				background: darken($color-instagram, 20%);
			}
		}
		&--line {
			background: $color-line;
			&:hover {
				background: darken($color-line, 20%);
			}
		}
		// &--youtube {
		// 	background: $color-youtube;
		// 	&:hover {
		// 		background: darken($color-youtube, 20%);
		// 	}
		// }
		// &--pinterest {
		// 	background: $color-pinterest;
		// 	&:hover {
		// 		background: darken($color-pinterest, 20%);
		// 	}
		// }
		// &--whatsapp {
		// 	background: $color-whatsapp;
		// 	&:hover {
		// 		background: darken($color-whatsapp, 20%);
		// 	}
		// }
		// &--linkedin {
		// 	background: $color-linkedin;
		// 	&:hover {
		// 		background: darken($color-linkedin, 20%);
		// 	}
		// }
		// &--path {
		// 	background: $color-path;
		// 	&:hover {
		// 		background: darken($color-path, 20%);
		// 	}
		// }
		// &--google-plus {
		// 	background: $color-google_plus;
		// 	&:hover {
		// 		background: darken($color-google_plus, 20%);
		// 	}
		// }
		&:hover {
			color: #fff;
			// background: #fff;
			@include transform_scale(1.1);
		}
	}
	&--footer {
		padding: 10px 0;
	}
	&--header {
		.social__item {
			padding: 0;
		}
		// .social__link {
		// 	width: 20px;
		// 	height: 20px;
		// 	font-size: 18px;
		// }
	}
}

