.tag {
	position: relative;
	&__article {
		position: relative;
		&__teaser {
			text-align: left;
			text-transform: uppercase;
			padding: 3px 0;
			@include font-pack(false, 18px, 800, false, false);
		}
		&__wrap {
			position: relative;
		}
		&__item {
			display: inline-block;
			margin-right: 5px;
			margin-bottom: 7px;
			@include font-pack(false, 14px, 300, false, #000);
			h3, h4 {
				font-weight: 300;
			}
		}
		&__link {
			padding: 5px 10px;
			border-radius: 5px;
			background: #dfdfdf;
			display: block;
			&:hover {
				color: #fff;
				background: $color-kcm-blue;
			}
		}
	}
	&__header {
		// position: relative;
		// padding: 10px 0;
		// border-bottom: 1px solid #989898;
		&__teaser {
			text-align: left;
			text-transform: uppercase;
			padding: 4px 0;
			height: 40px;
			@include font-pack(false, 18px, 800, false, false);
			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 40px;
				// border-bottom: 4px solid #3ca5dd;
			}
		}
		&__wrap {
			position: relative;
			height: 40px;
			overflow: hidden;
		}
		&__item {
			display: inline-block;
			margin-bottom: 10px;
		}
		&__link {
			padding: 5px;
			// background: #dfdfdf;
			display: block;
			@include font-pack(false, 16px, 300, false, #000);
			&:hover {
				color: darken($color-kcm-blue, 10%);
				// background: $color-kcm-blue;
			}
		}
	}
}