.video {
	// position: relative;
	&__wrap {
		position: relative;
	}
	&__playlist {
		position: relative;
		// background: #D8D8D8;
		&__player {
			width: 540px;
			float: left;
			position: relative;
			img {
				width: 100%;
			}
		}
		&__list {
			width: 200px;
			float: left;
			position: relative;
			background: #f1f1f1;
		}
		&__item {
			border-bottom: 1px solid #fff;
			&:last-child {
				border-bottom: transparent;
			}
		}
		&__title {
			@include title_overflow(55px, 55px);
		}
		&__link {
			padding: 5px 15px;
			display: block;
			border-left: 5px solid transparent;
			&:hover,
			&--active {
				border-left: 5px solid $color-kcm-blue;
				background: #dcdcdc;
				color: #000;
			}
		}
	}
	&__button__play {
		display: block;
		&__item {
			position: absolute;
			left: 50%;
			top: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			@include transition(all .2s ease);
		}
		&:hover {
			.video__button__play__item {
				-webkit-transform: translate(-50%, -50%) scale(1.1);
				transform: translate(-50%, -50%) scale(1.1);
			}
		}
	}
}
