<!DOCTYPE html>
<html lang="en">
	{{> head page="wp"}}

<body>
	<!-- header -->
	{{> header page="wp"}}

	<!-- ads skin -->
	{{> ads type="skin"}}
	<div class="headline__belt"></div>
	<!-- container -->
	<div class="container clearfix z1">

		<!-- ads top -->
		{{> ads type="top"}}
		
		<!-- row headline -->
		<div class="pure-g mt2">
			<div class="pure-u-1 pure-u-md-7-10">
			
				<!-- headline -->
				{{> headline}}
				
			</div>
			<div class="pure-u-1 pure-u-md-3-10">
			
				<!-- ads giant -->
				{{> ads type="giant"}}
				
			</div>
		</div>
		
		<!-- row highlight -->
		<div class="pure-g mt3">
			<div class="pure-u-1 pure-u-md-7-10">
				
				{{> editor}}

				<!-- terkini -->
				<div class="title clearfix">
					<div class="title__content">Berita Terkini</div>
					<a class="button button--default button--right" href="indeks-berita.html">Lihat Semua</a>
				</div>
				{{> latest total=5 index_start=0 index_end=5}}
				
			</div>
			<div class="pure-u-1 pure-u-md-3-10">
				
				<!-- terpopuler -->
				{{> trending index_start=0 index_end=10 }}
				{{!-- {{> most index_end=10}} --}}

				<!-- kcm rectangle -->
				{{> ads type="rectangle"}}
				
				<!-- klasemen -->
				{{> klasemen }}
			</div>
		</div>
		<!-- kcm horizontal -->
		{{!> ads type="horizontal"}}

	</div>

	<!-- footer -->
	{{> footer}}
	
	{{> js page="wp"}}
</body>
</html>
