<!DOCTYPE html>
<html lang="en">
	{{> head page="wp"}}

<body>
	<!-- header -->
	{{> header page="wp"}}

	<!-- ads skin -->
	{{> ads type="skin"}}
	<div class="headline__belt"></div>
	<!-- container -->
	<div class="container clearfix z1">

		<!-- ads top -->
		{{> ads type="top"}}
		
		<!-- row headline -->
		<div class="pure-g mt2">
			<div class="pure-u-1 pure-u-md-7-10">
			
				<!-- headline -->
				{{> headline}}
				
			</div>
			<div class="pure-u-1 pure-u-md-3-10">
			
				<!-- ads giant -->
				{{> ads type="giant"}}
				
			</div>
		</div>
		
		<!-- row highlight -->
		<div class="pure-g mt3">
			<div class="pure-u-1 pure-u-md-7-10">
				
				{{> editor}}

				<!-- terkini -->
				<div class="title clearfix">
					<div class="title__content">latest</div>
					<a class="button button--default button--right" href="indeks-berita.html">Lihat Semua</a>
				</div>
				<div class="latest ga--latest clearfix">
					{{> latest total=10 index_start=0 index_end=8}}
				</div>
				
			</div>
			<div class="pure-u-1 pure-u-md-3-10">
				
				<!-- terpopuler -->
				{{> trending index_start=0 index_end=7 }}

				<!-- kcm rectangle -->
				{{> ads type="rectangle"}}
				
				<!-- klasemen -->
				<div class="klasemen mt2 rad">
					{{> klasemen }}
				</div>
			</div>
		</div>

		<!-- row liga-->
		<div class="pure-g mt3">
			<div class="pure-u-md-1-3 liga">
				<div class="title title__epl">
					<a href="" class="button--left">
						<img src="asset/images/icon/epl.png" alt="">
					</a>
					<div class="title title__sub title--center">Liga Inggris</div>
					<a href="" class="button--right">
						<img src="asset/images/icon/arrow-right.svg" alt="">
					</a>
				</div>
				{{> liga index_start=0 index_end=3}}
			</div>
			<div class="pure-u-md-1-3 liga">
				<div class="title title__indo">
					<a href="" class="button--left">
						<img src="asset/images/icon/liga1.png" alt="">
					</a>
					<div class="title title__sub title--center">Liga Indonesia</div>
					<a href="" class="button--right">
						<img src="asset/images/icon/arrow-right.svg" alt="">
					</a>
				</div>
				{{> liga index_start=0 index_end=3}}
			</div>
			<div class="pure-u-md-1-3 liga liga__spanyol">
				<div class="title title__spanyol">
					<a href="" class="button--left">
						<img src="asset/images/icon/laliga.png" alt="">
					</a>
					<div class="title title__sub title--center">Liga Spanyol</div>
					<a href="" class="button--right">
						<img src="asset/images/icon/arrow-right.svg" alt="">
					</a>
				</div>
				{{> liga index_start=0 index_end=3}}
			</div>
		</div> 

		<!-- row latest klasemen --> 
		<div class="pure-g mt3">
			<div class="pure-u-1 pure-u-md-7-10">
				<div class="latest rad-all clearfix">
					{{> latest total=10 index_start=0 index_end=4}}				
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-3-10">				
				<!-- klasemen -->
				<div class="klasemen">
					{{> klasemen }}
				</div>
			</div>
		</div>

		<!-- row video -->
		<div class="title mt2 clearfix">
			<div class="title__content">Video Pilihan</div>
			<a class="button button--default button--right" href="indeks-berita.html">Lihat Semua</a>
		</div>
		<div class="box">
			
		</div>

		<!--Row Gallery Photo-->
		<div class="pure-g mt3">
			<div class="pure-u-1 pure-u-md-7-10">

				<!-- Latest Feed -->
				<div class="latest ga--latest clearfix">
					{{> latest total=10 index_start=0 index_end=3}}
				</div>		

				<!--Foto Pilihan-->
				<div class="title mt2 clearfix">
					<div class="title__content">Foto Pilihan</div>
					<a class="button button--default button--right" href="indeks-berita.html">Lihat Semua</a>
				</div>	
			</div>
			<div class="pure-u-1 pure-u-md-3-10">
				<!-- kcm rectangle -->
				{{> ads type="rectangle"}}
			</div>
		</div>

	</div>

	<!-- footer -->
	{{> footer}}
	
	{{> js page="wp"}}
</body>
</html>
