{{#eq type compare="skin"}}
<div class="row ads__stick__wrap clearfix">
	<div class="ads ads__stick js-ads-stick">
		<div class="ads__stick__fluid ads__stick__fluid--left">
			<div class="ads__stick--left"><img src="https://via.placeholder.com/160x600?text=160x600+Wide+Skyscaper"></div>
		</div>
		<div class="ads__stick__fluid ads__stick__fluid--right">
			<div class="ads__stick--right"><img src="https://via.placeholder.com/160x600?text=160x600+Wide+Skyscaper"></div>
		</div>
	</div>
</div>
{{/eq}}
{{#eq type compare="rectangle"}}
<div class="row mt2 clearfix">
	<div class="ads ads__rectangle clearfix">
		<a href="#" target="_blank">
			<img src="https://via.placeholder.com/300x250?text=300x250+Square+Button"/>
		</a>
	</div>
</div>
{{/eq}}
{{#eq type compare="superbig"}}
<div class="ads ads__superbig">
	<a href="#" target="_blank">
		<img src="https://tpc.googlesyndication.com/simgad/6514099444975928335" />
	</a>
</div>
{{/eq}}
{{#eq type compare="top"}}
<div class="row mt2 col-offset-fluid clearfix">
	<div class="col-xs-10">
		<div class="ads ads__top clearfix">
			<a href="#" target="_blank">
				<img src="https://via.placeholder.com/970x90?text=970x90+Full%20+Banner" alt="">
			</a>
		</div>
	</div>
</div>
{{/eq}}
{{#eq type compare="giant"}}
<div class="ads ads__big clearfix">
	<a href="#" target="_blank">
		<img src="https://via.placeholder.com/300x600?text=300x600+Half+Page+Ad" alt="">
	</a>
</div>
{{/eq}}
