{{#eq type compare="skin"}}
<div class="row ads__stick__wrap clearfix">
	<div class="ads ads__stick js-ads-stick">
		<div class="ads__stick__fluid ads__stick__fluid--left">
			<div class="ads__stick--left"><img src="https://tpc.googlesyndication.com/simgad/5878176470215201584"></div>
		</div>
		<div class="ads__stick__fluid ads__stick__fluid--right">
			<div class="ads__stick--right"><img src="https://tpc.googlesyndication.com/simgad/12182677650974725751"></div>
		</div>
	</div>
</div>
{{/eq}}
{{#eq type compare="rectangle"}}
<div class="row mt3 clearfix">
	<div class="ads ads__rectangle clearfix">
		<a href="#" target="_blank">
			<img src="https://tpc.googlesyndication.com/simgad/241969906600065835"/>
		</a>
	</div>
</div>
{{/eq}}
{{#eq type compare="superbig"}}
<div class="ads ads__superbig">
	<a href="#" target="_blank">
		<img src="https://tpc.googlesyndication.com/simgad/6514099444975928335" />
	</a>
</div>
{{/eq}}
{{#eq type compare="top"}}
<div class="row mt2 col-offset-fluid clearfix">
	<div class="col-xs-10">
		<div class="ads ads__top clearfix">
			<a href="#" target="_blank">
				<img src="https://tpc.googlesyndication.com/simgad/3310539897290011317" alt="">
			</a>
		</div>
	</div>
</div>
{{/eq}}
{{#eq type compare="giant"}}
<div class="ads ads__big clearfix">
	<a href="#" target="_blank">
		<img src="https://tpc.googlesyndication.com/simgad/839624583650028823" alt="">
	</a>
</div>
{{/eq}}
