<div class="row mt2 col-offset-fluid clearfix">
	<div class="col-xs-10">
		<div class="kcm kcm__top clearfix">
			<a href="#" target="_blank">
				<img src="https://tpc.googlesyndication.com/simgad/3310539897290011317" alt="">
			</a>
		</div>
	</div>
</div>
