<div class="row kcm__stick__wrap clearfix">
	<div class="kcm kcm__stick js-kcm-stick">
		<div class="kcm__stick__fluid kcm__stick__fluid--left">
			<div class="kcm__stick--left"><img src="https://tpc.googlesyndication.com/simgad/5878176470215201584"></div>
		</div>
		<div class="kcm__stick__fluid kcm__stick__fluid--right">
			<div class="kcm__stick--right"><img src="https://tpc.googlesyndication.com/simgad/12182677650974725751"></div>
		</div>
	</div>
</div>
