{{#eq state compare="loading"}}
<!-- item skeleton -->
<div class="comment__item">
	<div class="comment__avatar" data-init=""></div>
	<div class="comment__row clearfix">
		<div class="comment__user"></div>
		<div class="comment__date"></div>
	</div>
	<div class="comment__row clearfix">
		<div class="comment__content">
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="comment__row clearfix">
		<div class="comment__action">
			<div class="comment__subitem"></div>
			<div class="comment__subitem"></div>
			<div class="comment__subitem"></div>
			<div class="comment__subitem"></div>
		</div>
	</div>
</div>
<!-- item skeleton -->
<div class="comment__item">
	<div class="comment__avatar" data-init=""></div>
	<div class="comment__row clearfix">
		<div class="comment__user"></div>
		<div class="comment__date"></div>
	</div>
	<div class="comment__row clearfix">
		<div class="comment__content">
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="comment__row clearfix">
		<div class="comment__action">
			<div class="comment__subitem"></div>
			<div class="comment__subitem"></div>
			<div class="comment__subitem"></div>
			<div class="comment__subitem"></div>
		</div>
	</div>
</div>
<!-- item skeleton -->
<div class="comment__item">
	<div class="comment__avatar" data-init=""></div>
	<div class="comment__row clearfix">
		<div class="comment__user"></div>
		<div class="comment__date"></div>
	</div>
	<div class="comment__row clearfix">
		<div class="comment__content">
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="comment__row clearfix">
		<div class="comment__action">
			<div class="comment__subitem"></div>
			<div class="comment__subitem"></div>
			<div class="comment__subitem"></div>
			<div class="comment__subitem"></div>
		</div>
	</div>
</div>
{{else}}
<!-- item -->
<div class="comment__item">
	<div class="comment__avatar" data-init="CP"></div>
	<div class="comment__row clearfix">
		<div class="comment__user">Chandra Putra Wijaya</div>
		<div class="comment__date">
			<span class="icon icon-clock"></span>
			Minggu, 21 September 2019, 20:56
		</div>
	</div>
	<div class="comment__row clearfix">
		<div class="comment__content">
			yasudah, tinggal ditunggu aja. kalo bener ya untung, kalo kalah kan ya tanggung sendiri
		</div>
	</div>
	<div class="comment__row clearfix">
		{{> comment_action}}
	</div>
</div>
<!-- item -->
<div class="comment__item">
	<div class="comment__avatar" data-init="MK"></div>
	<div class="comment__row clearfix">
		<div class="comment__user">Mike Kay</div>
		<div class="comment__date">
			<span class="icon icon-clock"></span>
			Minggu, 21 September 2019, 20:56
		</div>
	</div>
	<div class="comment__row clearfix">
		<div class="comment__content">
			susah amat ya ikutin aturan doang
		</div>
	</div>
	<div class="comment__row clearfix">
		{{> comment_action}}
	</div>
</div>
<!-- item -->
<div class="comment__item">
	<div class="comment__avatar" data-init="JB"></div>
	<div class="comment__row clearfix">
		<div class="comment__user">Jokobido Baring</div>
		<div class="comment__date">
			<span class="icon icon-clock"></span>
			Minggu, 21 September 2019, 20:56
		</div>
	</div>
	<div class="comment__row clearfix">
		<div class="comment__content">
			hoax yang paling bodoh adalah hoax paslon 02 menang 62% padahal baru hari pertama, bagaimana ya cara menghitungnya . tapi sekarang mereka masih menghitung (katanya), kok masih menghitung???!!! katanya sudah menang ya tdk perlu lagi menghitung, malah masih cari2 c1. ini namanya hoax paling bodoh.
		</div>
	</div>
	<div class="comment__row clearfix">
		{{> comment_action}}
	</div>
</div>
{{#eq list compare="comment"}}
<!-- item -->
<div class="comment__item">
	<div class="comment__avatar" data-init="AA"></div>
	<div class="comment__row clearfix">
		<div class="comment__user">Ahmad Aliyuddin</div>
		<div class="comment__date">
			<span class="icon icon-clock"></span>
			Minggu, 21 September 2019, 20:56
		</div>
	</div>
	<div class="comment__row clearfix">
		<div class="comment__content">
			krna dah uzur, mungakin pak prof sudah pikun. ditanys tentang ade kol dan pisang tertinggal satu. jadi, beliau twitt, ada kolonel ad berkata babinsa kumpulin c 1. ooohh ternyata rr sekarang kerjaannya cuma belanja buah di pasar / supermarket?
		</div>
	</div>
	<div class="comment__row clearfix">
		{{> comment_action}}
	</div>
	{{> comment_reply_list}}
	{{> comment_reply_form}}
</div>
<!-- item -->
<div class="comment__item">
	<div class="comment__avatar" data-init="E"></div>
	<div class="comment__row clearfix">
		<div class="comment__user">eri</div>
		<div class="comment__date">
			<span class="icon icon-clock"></span>
			Minggu, 21 September 2019, 20:56
		</div>
	</div>
	<div class="comment__row clearfix">
		<div class="comment__content">
			prabowo sandi harus bertanggung jaawab atas kekacauan di masyarakat kurang ajar
		</div>
	</div>
	<div class="comment__row clearfix">
		{{> comment_action}}
	</div>
</div>
<!-- item -->
<div class="comment__item">
	<div class="comment__avatar" data-init="YJ"></div>
	<div class="comment__row clearfix">
		<div class="comment__user">yohanes jaya</div>
		<div class="comment__date">
			<span class="icon icon-clock"></span>
			Minggu, 21 September 2019, 20:56
		</div>
	</div>
	<div class="comment__row clearfix">
		<div class="comment__content">
			tukang bakso aja tau kalah yah kalah. yg penting legowo kah menerima kekalahan??? krn gak akan pernah selesai pemilunya kalo gak mau kalah
		</div>
	</div>
	<div class="comment__row clearfix">
		{{> comment_action}}
	</div>
	{{> comment_reply_form}}
</div>
<!-- item -->
<div class="comment__item">
	<div class="comment__avatar" data-init="E"></div>
	<div class="comment__row clearfix">
		<div class="comment__user">Eno</div>
		<div class="comment__date">
			<span class="icon icon-clock"></span>
			Minggu, 21 September 2019, 20:56
		</div>
	</div>
	<div class="comment__row clearfix">
		<div class="comment__content">
			sekolah dimana ente kampret, matematika ente 0 terus ya, kalo pergerakan jumlah suaranya sama 1:1 ya pasti persentase angka yang udah ada gak akan berubah tambah atau kurang, kalo 1:0 ya pasti berubah tapi ente hitung pake angka 6 digit dibelakang koma baru kelihatan, paham dungu?
		</div>
	</div>
	<div class="comment__row clearfix">
		{{> comment_action}}
	</div>
</div>
<!-- item -->
<div class="comment__item">
	<div class="comment__avatar" data-init="W"></div>
	<div class="comment__row clearfix">
		<div class="comment__user">wongedan</div>
		<div class="comment__date">
			<span class="icon icon-clock"></span>
			Minggu, 21 September 2019, 20:56
		</div>
	</div>
	<div class="comment__row clearfix">
		<div class="comment__content">
			siapa yg berani menyetop situng kpu, sbg wong cilik, sy tak tinggal diam, 100% sy percaya situng kpu ...!!!
		</div>
	</div>
	<div class="comment__row clearfix">
		{{> comment_action}}
	</div>
</div>
<!-- item -->
<div class="comment__item">
	<div class="comment__avatar" data-init="MA"></div>
	<div class="comment__row clearfix">
		<div class="comment__user">Mamat AS</div>
		<div class="comment__date">
			<span class="icon icon-clock"></span>
			Minggu, 21 September 2019, 20:56
		</div>
	</div>
	<div class="comment__row clearfix">
		<div class="comment__content">
			#2019gagalmaningjadipresiden #2019gagalmaningjadipresiden #2019gagalmaningjadipresiden #2019gagalmaningjadipresiden #2019gagalmaningjadipresiden #2019gagalmaningjadipresiden #2019gagalmaningjadipresiden #2019gagalmaningjadipresiden#2019gagalmaningjadipresiden #2019gagalmaningjadipresiden
		</div>
	</div>
	<div class="comment__row clearfix">
		{{> comment_action}}
	</div>
</div>
<!-- item -->
<div class="comment__item">
	<div class="comment__avatar" data-init="MM"></div>
	<div class="comment__row clearfix">
		<div class="comment__user">Mbah Moel</div>
		<div class="comment__date">
			<span class="icon icon-clock"></span>
			Minggu, 21 September 2019, 20:56
		</div>
	</div>
	<div class="comment__row clearfix">
		<div class="comment__content">
			ternyata hasil situng tidak jauh berbeda dengan hasil qc. bpn 02 sudah mulai stress....ternyata prabowo subianto kalah sama jokowi......
		</div>
	</div>
	<div class="comment__row clearfix">
		{{> comment_action}}
	</div>
</div>
<!-- item -->
<div class="comment__item">
	<div class="comment__avatar" data-init="B"></div>
	<div class="comment__row clearfix">
		<div class="comment__user">Bolu</div>
		<div class="comment__date">
			<span class="icon icon-clock"></span>
			Minggu, 21 September 2019, 20:56
		</div>
	</div>
	<div class="comment__row clearfix">
		<div class="comment__content">
			#2019gagalmaningjadipresiden #2019gagalmaningjadipresiden #2019gagalmaningjadipresiden #2019gagalmaningjadipresiden
		</div>
	</div>
	<div class="comment__row clearfix">
		{{> comment_action}}
	</div>
</div>
<!-- item -->
<div class="comment__item">
	<div class="comment__avatar" data-init="AD"></div>
	<div class="comment__row clearfix">
		<div class="comment__user">ADG DHRM</div>
		<div class="comment__date">
			<span class="icon icon-clock"></span>
			Minggu, 21 September 2019, 20:56
		</div>
	</div>
	<div class="comment__row clearfix">
		<div class="comment__content">
			beberapa kali human error, ratusan petugas kpps banyak yang meninggal dsb. ketua kpu pantas mengundurkan diri.
		</div>
	</div>
	<div class="comment__row clearfix">
		{{> comment_action}}
	</div>
</div>
<!-- item -->
<div class="comment__item">
	<div class="comment__avatar" data-init="KK"></div>
	<div class="comment__row clearfix">
		<div class="comment__user">Kata Kan</div>
		<div class="comment__date">
			<span class="icon icon-clock"></span>
			Minggu, 21 September 2019, 20:56
		</div>
	</div>
	<div class="comment__row clearfix">
		<div class="comment__content">
			bpn , badan pembohong nasional
		</div>
	</div>
	<div class="comment__row clearfix">
		{{> comment_action}}
	</div>
</div>
<!-- item -->
<div class="comment__item">
	<div class="comment__avatar" data-init="JB"></div>
	<div class="comment__row clearfix">
		<div class="comment__user">Jokobido Baring</div>
		<div class="comment__date">
			<span class="icon icon-clock"></span>
			Minggu, 21 September 2019, 20:56
		</div>
	</div>
	<div class="comment__row clearfix">
		<div class="comment__content">
			yang reash itu ya kalian sendiri karena membuat hati kalian berdebar-debar, ya kan
		</div>
	</div>
	<div class="comment__row clearfix">
		{{> comment_action}}
	</div>
</div>
<!-- item -->
<div class="comment__item">
	<div class="comment__avatar" data-init="AI"></div>
	<div class="comment__row clearfix">
		<div class="comment__user">anak indonesia</div>
		<div class="comment__date">
			<span class="icon icon-clock"></span>
			Minggu, 21 September 2019, 20:56
		</div>
	</div>
	<div class="comment__row clearfix">
		<div class="comment__content">
			orang ini cocoknya di parlemen jalanan aja. kalo debat setara kusir....
		</div>
	</div>
	<div class="comment__row clearfix">
		{{> comment_action}}
	</div>
</div>
<!-- item -->
<div class="comment__item">
	<div class="comment__avatar" data-init="SA"></div>
	<div class="comment__row clearfix">
		<div class="comment__user">Sosro Ali</div>
		<div class="comment__date">
			<span class="icon icon-clock"></span>
			Minggu, 21 September 2019, 20:56
		</div>
	</div>
	<div class="comment__row clearfix">
		<div class="comment__content">
			kalau mau debat anies lah jagonya krn dia punya 1001 macam alasan kata, sedng kalau kerja ahok lah ahlinya krn dia punya perencanaan dan program kerja yang jelas dan matang
		</div>
	</div>
	<div class="comment__row clearfix">
		{{> comment_action}}
	</div>
</div>
<!-- item -->
<div class="comment__item">
	<div class="comment__avatar" data-init="P"></div>
	<div class="comment__row clearfix">
		<div class="comment__user">PalMan</div>
		<div class="comment__date">
			<span class="icon icon-clock"></span>
			Minggu, 21 September 2019, 20:56
		</div>
	</div>
	<div class="comment__row clearfix">
		<div class="comment__content">
			kepada semua pendukung anies, banjirnya sudah datang masih bicara strategi dan teori wacana, tolong akal sehat-nya dipakai, jangan fanatik digedein, otak bisa menyusut..!
		</div>
	</div>
	<div class="comment__row clearfix">
		{{> comment_action}}
	</div>
</div>
<!-- item -->
<div class="comment__item">
	<div class="comment__avatar" data-init="AR"></div>
	<div class="comment__row clearfix">
		<div class="comment__user">Arieyanto Rasyid</div>
		<div class="comment__date">
			<span class="icon icon-clock"></span>
			Minggu, 21 September 2019, 20:56
		</div>
	</div>
	<div class="comment__row clearfix">
		<div class="comment__content">
			tmsdh tidak perlu mantan gubernur dan guburnur saat ini bersama.
		</div>
	</div>
	<div class="comment__row clearfix">
		{{> comment_action}}
	</div>
</div>
<!-- item -->
<div class="comment__item">
	<div class="comment__avatar" data-init="PC"></div>
	<div class="comment__row clearfix">
		<div class="comment__user">Paul Chandra</div>
		<div class="comment__date">
			<span class="icon icon-clock"></span>
			Minggu, 21 September 2019, 20:56
		</div>
	</div>
	<div class="comment__row clearfix">
		<div class="comment__content">
			yap betul. bicara teori normalisasi dan naturalisasi tapi actionnya gak ada sampai sekarang. mungkin sampai 5 tahun jabatan hanya sebuah wacana puitis
		</div>
	</div>
	<div class="comment__row clearfix">
		{{> comment_action}}
	</div>
</div>
<!-- item -->
<div class="comment__item">
	<div class="comment__avatar" data-init="R"></div>
	<div class="comment__row clearfix">
		<div class="comment__user">roylan</div>
		<div class="comment__date">
			<span class="icon icon-clock"></span>
			Minggu, 21 September 2019, 20:56
		</div>
	</div>
	<div class="comment__row clearfix">
		<div class="comment__content">
			action yg dibutuhkan bukan banding- membandingkan. bencana itu tdk dapat diprediksi kapan terjadi, tapi jika kita sudah menyiapkan hal2 mengenai penanggulangan bencana maka akan meminimalkan dampaknya.
		</div>
	</div>
	<div class="comment__row clearfix">
		{{> comment_action}}
	</div>
</div>
{{/eq}}
{{/eq}}
