<div class="comment__action">
	<div class="comment__subitem">
		<button type="button" class="comment__button action"><span class="icon icon-thumbs-up"></span> 24</button>
	</div>
	<div class="comment__subitem">
		<button type="button" class="comment__button action"><span class="icon icon-thumbs-down"></span> 36</button>
	</div>
	<div class="comment__subitem">
		<button type="button" class="comment__button action"><span class="icon icon-reply"></span> Balas</button>
	</div>
	<div class="comment__subitem">
		<button type="button" class="comment__button action"><span class="icon icon-exclamation"></span> Laporkan</button>
	</div>
</div>
