<!-- Pilihan Editor -->
<div class="title clearfix">
    <div class="title__content">Pilihan Editor</div>
    <a class="button button--default button--right" href="indeks-berita.html">Lihat Semua</a>
</div>
<div class="featured clearfix">
    <div class="featured__item">
        <div class="featured__item__images">
            <img src="asset/images/image-news.jpg" alt="">
        </div>
        <div class="featured__item__title">
            Juara Lagi, Kevin / Marcus Bisa Bawa Pulang 10 Gelar Tahun Ini
        </div>
    </div>
    <div class="featured__item">
        <div class="featured__item__images">
            <img src="asset/images/image-news.jpg" alt="">
        </div>
        <div class="featured__item__title">
            Juara Lagi, Kevin / Marcus Bisa Bawa Pulang 10 Gelar Tahun Ini
        </div>
    </div>
    <div class="featured__item">
        <div class="featured__item__images">
            <img src="asset/images/image-news.jpg" alt="">
        </div>
        <div class="featured__item__title">
            Juara Lagi, Kevin / Marcus Bisa Bawa Pulang 10 Gelar Tahun Ini
        </div>
    </div>
    <div class="featured__item">
        <div class="featured__item__images">
            <img src="asset/images/image-news.jpg" alt="">
        </div>
        <div class="featured__item__title">
            Juara Lagi, Kevin / Marcus Bisa Bawa Pulang 10 Gelar Tahun Ini
        </div>
    </div>
</div>