<div class="footer">
    <div class="row footer__bottom container">
        <div class="col-bs10-3">
            <div class="logo">
                <a href="index.html"><img src="./asset/images/logo-kompascom-jmd.png" alt="www.kompas.com"></a>
            </div>
			<!-- logo sertifikasi -->
			<div class="logo__achieve">
				<div class="logo__achieve__subtitle">Penghargaan dan sertifikat:</div>
                <div class="logo__achieve__item">
                    <a href="#" class="logo__achieve__link">
                        <div class="logo__achieve__img">
                            <img src="./asset/images/logo-wowbrands-2019.png" alt="WOW Brand Indonesia 2019" title="WOW Brand Indonesia 2019">
                        </div>
                    </a>
                </div>
				<div class="logo__achieve__item">
					<a href="https://ekonomi.kompas.com/read/2018/07/27/215200426/kompascom-sabet-penghargaan-berita-online-terpercaya-dari-superbrands" class="logo__achieve__link">
						<div class="logo__achieve__img">
							<img src="./asset/images/logo-superbrands-2018.png" alt="Superbrands Indonesia 2018" title="Superbrands Indonesia 2018">
						</div>
					</a>
				</div>
				<div class="logo__achieve__item">
					<a href="https://nasional.kompas.com/read/2018/10/17/08133311/kompascom-tersertifikasi-dalam-jaringan-internasional-penguji-informasi" class="logo__achieve__link">
						<div class="logo__achieve__img">
							<img src="./asset/images/logo-ifcn.png" alt="International Fact-Checking Network" title="International Fact-Checking Network">
						</div>
					</a>
				</div>
			</div>
        </div>
        <div class="col-bs10-7">
            <div class="text-right">
                <div class="footer__social">
                    <div class="social social--footer">
                        <span itemscope="" itemtype="https://schema.org/Organization">
                        <link itemprop="url" href="https://www.kompas.com">
                        <div class="social__item">
                            <a class="social__link social__link--facebook" itemprop="sameAs" href="https://www.facebook.com/kompascom">
                                <svg class="icon icon-facebook" title="icon-facebook">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="social__item">
                            <a class="social__link social__link--twitter" itemprop="sameAs" href="https://www.twitter.com/kompascom">
                                <svg class="icon icon-twitter" title="icon-twitter">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="social__item">
                            <a class="social__link social__link--instagram" itemprop="sameAs" href="https://instagram.com/kompascom">
                                <svg class="icon icon-instagram" title="icon-instagram">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-instagram"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="social__item">
                            <a class="social__link social__link--line" itemprop="sameAs" href="https://line.me/ti/p/%40kompas.com">
                                <svg class="icon icon-line" title="icon-line">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-line"></use>
                                </svg>
                            </a>
                        </div>
                        </span>
                    </div>
                </div>
                <div class="footer__menu">
                    <div class="footer__menu__item footer__menu__item--inline">
                        <a class="footer__menu__link" href="https://indeks.kompas.com/topik-pilihan/list/3361/kabar.palmerah">Kabar Palmerah</a>
                    </div>
                    <div class="footer__menu__item footer__menu__item--inline">
                        <a class="footer__menu__link" href="https://inside.kompas.com/about-us">About Us</a>
                    </div>
                    <div class="footer__menu__item footer__menu__item--inline">
                        <a class="footer__menu__link" href="http://www.meetkcm.com/">Advertise</a>
                    </div>
                    <div class="footer__menu__item footer__menu__item--inline">
                        <a class="footer__menu__link" href="https://inside.kompas.com/policy">Policy</a>
                    </div>
                    <div class="footer__menu__item footer__menu__item--inline">
                        <a class="footer__menu__link" href="https://inside.kompas.com/pedoman">Pedoman Media Siber</a>
                    </div>
                    <div class="footer__menu__item footer__menu__item--inline">
                        <a class="footer__menu__link" href="https://jobs.kompas.com">Career</a>
                    </div>
                    <div class="footer__menu__item footer__menu__item--inline">
                        <a class="footer__menu__link" href="https://inside.kompas.com/about-us#meet">Contact Us</a>
                    </div>
                </div>
                <div class="footer__copy">Copyright 2008 - 2018 PT. Kompas Cyber Media (<a href="http://www.kompasgramedia.com/" target="_blank">Kompas Gramedia Digital Group</a>). All rights reserved.</div>
            </div>
        </div>
    </div>
</div>


<!-- s: sso -->
{{!> sso_register_inline}}
<!-- e: sso -->