<ul class="gramedia__wrap clearfix js-gramedia">
	<li class="gramedia__item">
		<div class="gramedia__asset">
			<img src="https://cdn.gramedia.com/uploads/items/9786020380698_susah-sinyal.jpg"/>
		</div>
		<a class="gramedia__buy" href="#" targer="_blank">BELI</a>
	</li>
	<li class="gramedia__item">
		<div class="gramedia__asset">
			<img src="https://cdn.gramedia.com/uploads/items/9786024246945_Laut-Bercerita.jpg"/>
		</div>
		<a class="gramedia__buy" href="#" targer="_blank">BELI</a>
	</li>
	<li class="gramedia__item">
		<div class="gramedia__asset">
			<img src="https://cdn.gramedia.com/uploads/items/Teach-like-finland.jpg"/>
		</div>
		<a class="gramedia__buy" href="#" targer="_blank">BELI</a>
	</li>
</ul>
