<div class="header clearfix">
    <!-- logo kompascom-->
    <div class="row clearfix header__wrap">
        <div class="container clearfix header__row">
            <div class="pure-g clearfix">
                <div class="pure-u-1 pure-u-md-7-10 clearfix">
                    <h1 class="logo">
                        <a href="index.html">
                            <img src="./asset/images/logo-skoid.png" alt="www.kompas.com">
                        </a>
                    </h1>
                </div>
                <div class="pure-u-1 pure-u-md-3-10 clearfix">
                    <form class="search search--header col-bs12-8 col-offset-0"
                        action="https://search.kompas.com/search/">
                        <input class="form__input form__search" id="search" type="text" name="q"
                            placeholder="Search">
                        <input class="form__button form__button__header" type="submit" name="submit">
                        <span class="search--icon">
                            <svg class="icon icon-search" title="icon-search">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
                            </svg>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- nav-->
    <div class="js-nav-offset"></div>
    <div class="row clearfix nav">
        <div class="container clearfix nav__wrap">
            <div class="logo logo--sticky">
                <a href="index.html"> <img src="./asset/images/logo-skoid.png" alt="www.kompas.com"></a>
            </div>
            {{#if kanal }}
                {{> nav active=page kanal=kanal}}
                {{else}}
                {{> nav active=page kanal=MainMenu}}
            {{/if}}
        </div>

        {{#eq article compare=true}}
        <div class="social social--fixed cleafix">
            <div class="social--container container">
                <!-- share -->
                <span class="social--text">Bagikan:</span>
                {{> share_artikel}}
                <p class="social--dshare" id="dsharetitle">{{channel.title}}</p>
                <div class="comment__read__bar">
                    <span>Komentar: </span>
                    <div class="social social--article clearfix">
                        <div class="social__item">
                            <a class="social__link" href="artikel-comment.html">
                                <span class="icon icon-comment"></span>
                                <div class="comment__counter">23414</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{else}}
        {{/eq}}
    </div>
</div>