<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Kompas.com - Berita Indonesia terkini terpercaya, dan terpopuler, politik, ekonomi, tekno, otomotif, dan olahraga ditulis lengkap dan akurat.">
	<meta name="author" content="Kompas Cyber Media">

	<title>Kompas.com</title>
	<link rel="shortcut icon" href="./asset/images/favicon2017.ico">
	{{!-- base css --}}
	{{#eq page compare="wp"}}
	<link rel="stylesheet" href="./asset/css/style-wp.min.css" type="text/css">
	{{else}}
	<link rel="stylesheet" href="./asset/css/kcm2017-article.min.css" type="text/css">
	{{/eq}}
	{{#eq custom compare="hoax"}}
	<!-- hoax -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">
    <style>
        .white-popup {
            position: relative;
            background: #FFF;
            padding: 20px;
            width: auto;
            max-width: 500px;
            margin: 20px auto;
        }
    </style>
	{{/eq}}
	
</head>
