<div class="klasemen mt2 rad">
	<div class="klasemen__header">
		<img src="">
		<h2 class="klasemen__header--title">LIGA INGGRIS</h2>
	</div>
	<table class="klasemen__table">
		<thead>
			<tr>

				<th colspan="2">Klub</th>
				<th>M</th>
				<th>M</th>
				<th>M</th>
				<th>S</th>
				<th>P</th>
			</tr>
		</thead>
		<tbody>
			<tr class="klasemen__table__row">
				<td>
					<span>1</span>
				</td>

				<td>
					<img src="http://cdn3.tstatic.net/ads/img/Liverpool.png">
					<div class="klasemen__team">
						<span>Liverpool</span>
					</div>
				</td>
				<td>12</td>
				<td>11</td>
				<td>1</td>
				<td>0</td>
				<td>34</td>
			</tr>
			<tr class="klasemen__table__row">
				<td>
					<span>2</span>
				</td>

				<td>
					<img src="http://cdn3.tstatic.net/ads/img/Leicester.png">
					<div class="klasemen__team">
						<span>Leicester</span>
					</div>
				</td>
				<td>12</td>
				<td>8</td>
				<td>2</td>
				<td>2</td>
				<td>26</td>
			</tr>
			<tr class="klasemen__table__row">
				<td>
					<span>3</span>
				</td>

				<td>
					<img src="http://cdn3.tstatic.net/ads/img/Chelsea.png">
					<div class="klasemen__team">
						<span>Chelsea</span>
					</div>
				</td>
				<td>12</td>
				<td>8</td>
				<td>2</td>
				<td>2</td>
				<td>26</td>
			</tr>
			<tr class="klasemen__table__row">
				<td>
					<span>4</span>
				</td>

				<td>
					<img src="http://cdn3.tstatic.net/ads/img/City.png">
					<div class="klasemen__team">
						<span>Man City</span>
					</div>
				</td>
				<td>12</td>
				<td>8</td>
				<td>1</td>
				<td>3</td>
				<td>25</td>
			</tr>
			<tr class="klasemen__table__row">
				<td>
					<span>5</span>
				</td>

				<td>
					<img src="http://cdn3.tstatic.net/ads/img/Wolverhampton.png">
					<div class="klasemen__team">
						<span>Sheff Utd</span>
					</div>
				</td>
				<td>29</td>
				<td>43</td>
				<td>60</td>
				<td>60</td>
				<td>60</td>
			</tr>
			<tr class="klasemen__table__row">
				<td>
					<span>6</span>
				</td>

				<td>
					<img src="http://cdn3.tstatic.net/ads/img/Arsenal.png">
					<div class="klasemen__team">
						<span>Arsenal</span>
					</div>
				</td>
				<td>12</td>
				<td>4</td>
				<td>5</td>
				<td>3</td>
				<td>27</td>
			</tr>
			<tr class="klasemen__table__row">
				<td>
					<span>7</span>
				</td>

				<td>
					<img src="http://cdn3.tstatic.net/ads/img/mu.png">
					<div class="klasemen__team">
						<span>Man Utd</span>
					</div>
				</td>
				<td>12</td>
				<td>4</td>
				<td>4</td>
				<td>5</td>
				<td>16</td>
			</tr>
			<tr class="klasemen__table__row">
				<td>
					<span>8</span>
				</td>

				<td>
					<img src="http://cdn3.tstatic.net/ads/img/Wolverhampton.png">
					<div class="klasemen__team">
						<span>Wolves</span>
					</div>
				</td>
				<td>12</td>
				<td>3</td>
				<td>7</td>
				<td>2</td>
				<td>16</td>
			</tr>
			<tr class="klasemen__table__row">
				<td>
					<span>9</span>
				</td>

				<td>
					<img src="http://cdn3.tstatic.net/ads/img/Bornemouth.png">
					<div class="klasemen__team">
						<span>Bournemouth</span>
					</div>
				</td>
				<td>12</td>
				<td>4</td>
				<td>4</td>
				<td>4</td>
				<td>16</td>
			</tr>
			<tr class="klasemen__table__row">
				<td>
					<span>10</span>
				</td>

				<td>
					<img src="http://cdn3.tstatic.net/ads/img/Burnley.png">
					<div class="klasemen__team">
						<span>Bunley</span>
					</div>
				</td>
				<td>12</td>
				<td>4</td>
				<td>3</td>
				<td>5</td>
				<td>15</td>
			</tr>
		</tbody>
	</table>
	<div class="klasemen__selengkapnya">
		<a href="">Selengkapnya</a>
	</div>
</div>