{{#if channel}}
{{#if channel.author}}
<div class="read__author">
	<a href="profil-penulis.html">{{channel.author}}</a>
</div>
{{/if}}
<div class="read__time">Kompas.com - {{channel.dates}}</div>
{{/if}}
