<div class="social__block clearfix">
	<div class="social__block__teaser">Follow us</div>
	<div class="social social--header clearfix">
		<div class="social__item"><a class="social__link social__link--facebook" target="_blank" href="http://www.facebook.com/kompascom">
			<svg class="icon icon-facebook" title="icon-facebook">
			<use xlink:href="#icon-facebook"/>
			</svg></a>
		</div>
		<div class="social__item"><a class="social__link social__link--twitter" target="_blank" href="http://www.twitter.com/kompascom">
			<svg class="icon icon-twitter" title="icon-twitter">
			<use xlink:href="#icon-twitter"/>
			</svg></a>
		</div>
		<div class="social__item"><a class="social__link social__link--instagram" target="_blank" href="http://instagram.com/kompascom">
			<svg class="icon icon-instagram" title="icon-instagram">
			<use xlink:href="#icon-instagram"/>
			</svg></a>
		</div>
		<div class="social__item"><a class="social__link social__link--line" target="_blank" href="https://line.me/ti/p/%40kompas.com">
			<svg class="icon icon-line" title="icon-line">
			<use xlink:href="#icon-line"/>
			</svg></a>
		</div>
	</div>
</div>                
